* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #0f172a;
    color: #e2e8f0;
    line-height: 1.6;
}

header {
    background-color: #1e293b;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

nav a {
    color: #e2e8f0;
    text-decoration: none;
    font-weight: 500;
}

p {
    padding: 1rem;
}

#hero {
    text-align: center;
    padding: 6rem 2rem;
}

.buttons {
    padding: 1rem;
}

.btn {
    background: #3b82f6;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
    margin-right: 1rem;
}

.btn-outline {
    border: 2px solid #3b82f6;
    color: #3b82f6;
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    text-decoration: none;
}

footer {
    text-align: center;
    padding: 1.5rem;
    background: #1e293b;
    margin-top: 4rem;
}